@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap");

/* Variables */
:root {
  /* Colors */
  --midnight-blue: #070724;
  --dark-gray: #38384f;
  --light-gray: #838391;
  --mercury-btn: #419ebb;
  --venus-btn: #eda249;
  --earth-btn: #6f2ed6;
  --mars-btn: #d14c32;
  --jupiter-btn: #d83a34;
  --saturn-btn: #cd5120;
  --uranus-btn: #1ec2a4;
  --neptune-btn: #2d68f0;
  --mercury-bullet: #def4fc;
  --venus-bullet: #f7cc7f;
  --earth-bullet: #545bfe;
  --mars-bullet: #ff6a45;
  --jupiter-bullet: #ecad7a;
  --saturn-bullet: #fccb6b;
  --uranus-bullet: #65f0d5;
  --neptune-bullet: #497efa;

  /* Other variables */
  --border: var(--light-gray) .05rem solid;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.bullet-mercury {
  background-color: var(--mercury-bullet);
}

.bullet-venus {
  background-color: var(--venus-bullet);
}

.bullet-earth {
  background-color: var(--earth-bullet);
}

.bullet-mars {
  background-color: var(--mars-bullet);
}

.bullet-jupiter {
  background-color: var(--jupiter-bullet);
}

.bullet-saturn {
  background-color: var(--saturn-bullet);
}

.bullet-uranus {
  background-color: var(--uranus-bullet);
}

.bullet-neptune {
  background-color: var(--neptune-bullet);
}

/* Mobile styles */

body {
  font-family: "League Spartan", Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  background-color: var(--midnight-blue);
  background-image: url("../public/assets/background-stars.svg");
}

button {
  background-color: transparent;
  border: none;
}

p {
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  line-height: 2.5rem;
}

h1,
h2,
.stat-data {
  font-family: "Antonio", "Courier New", Courier, monospace;
}

h1,
h2 {
  font-weight: 500;
  text-transform: uppercase;
}

h1 {
  font-size: 2.8rem;
  letter-spacing: -0.15rem;
}

h2 {
  font-size: clamp(4rem, 4vw, 8rem);
}

header h1 {
  border-bottom: var(--border);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}

header h1 button {
  background-color: transparent;
  padding: .8rem 0 0 0;
}

header h1 button:hover {
  cursor: pointer;
}

nav {
  display: none;
  position: absolute;
  border-bottom: var(--border);
  background-color: var(--midnight-blue);
  z-index: 1;
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 1.5rem;
}

nav ul li {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: .036rem;
  padding: 1rem 0;
  border-bottom: var(--border);
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

nav ul li:last-child {
  border-bottom: none;
}

nav ul li:hover {
  cursor: pointer;
}

nav ul li:hover span {
  text-decoration: underline;
  text-decoration-thickness: .2rem;
  text-underline-offset: 0.25rem;
}

nav ul li:hover :last-child {
  opacity: 1;
}

.bullet {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  display: inline-block;
}

main {
  display: grid;
  gap: 3rem;
  padding-inline: 2rem;
}

menu {
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border);
}

menu button {
  font-size: clamp(.9rem, 1vw, 1.2rem);
  font-weight: bold;
  letter-spacing: 1.93px;
  color: var(--light-gray);
  padding: 1rem 0;
}

.menu-btn-nmbr {
  display: none;
}

.topic-btn:hover {
  cursor: pointer;
  color: white;
}

.menu-mercury,
.menu-venu,
.menu-earth,
.menu-mars,
.menu-jupiter,
.menu-saturn,
.menu-uranus,
.menu-neptune {
  cursor: default;
  color: white;
  text-decoration: underline;
  text-decoration-thickness: .4rem;
  text-underline-offset: 0.65rem;
}

.menu-mercury {
  text-decoration-color: var(--mercury-btn);
}

.menu-venus {
  text-decoration-color: var(--venus-btn);
}

.menu-earth {
  text-decoration-color: var(--earth-btn);
}

.menu-mars {
  text-decoration-color: var(--mars-btn);
}

.menu-jupiter {
  text-decoration-color: var(--jupiter-btn);
}

.menu-saturn {
  text-decoration-color: var(--saturn-btn);
}

.menu-uranus {
  text-decoration-color: var(--uranus-btn);
}

.menu-neptune {
  text-decoration-color: var(--neptune-btn);
}

.planet-section {
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-planet-mercury {
  width: 111px;
}

.img-planet-venus {
  width: 154px;
}

.img-planet-earth {
  width: 173px;
}

.img-planet-mars {
  width: 129px;
}

.img-planet-jupiter {
  width: 224px;
}

.img-planet-saturn {
  width: 256px;
}

.img-planet-uranus {
  width: 176px;
}

.img-planet-neptune {
  width: 173px;
}

.img-geology {
  width: 55px;
  position: absolute;
  top: 29rem;
}

.info-section {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

cite {
  margin-top: 1rem;
  font-size: clamp(1.2rem, 1vw, 1.4rem);
  font-style: normal;
  color: var(--light-gray);
}

cite a {
  color: var(--light-gray);
  font-weight: bold;
}

cite:hover a {
  color: white;
}

cite:hover .source-icon {
  opacity: 1;
}

cite a:last-child :first-child {
  vertical-align: sub;
}

.stats-section {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stat-box {
  padding: 1.5rem 3rem;
  border: var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-size: clamp(1rem, 1vw, 1.2rem);
  font-weight: 600;
  letter-spacing: clamp(.073rem, 1vw, .1rem);
  color: var(--light-gray);
}

.stat-data {
  font-size: clamp(2rem, 2vw, 4rem);
  letter-spacing: clamp(-.075rem, -.1rem, -.15rem);
  text-transform: uppercase;
}

@media (min-width: 768px) {
  main {
    grid: [row1-start] "planet planet"[row1-end] [row2-start] "info menu"[row2-end] [row3-start] "stats stats"[row3-end];
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .planet-section {
    margin-top: 2rem;
    height: 422px;
  }

  .img-planet-mercury {
    width: 184px;
  }

  .img-planet-venus {
    width: 253px;
  }

  .img-planet-earth {
    width: 285px;
  }

  .img-planet-mars {
    width: 213px;
  }

  .img-planet-jupiter {
    width: 369px;
  }

  .img-planet-saturn {
    width: 422px;
  }

  .img-planet-uranus {
    width: 290px;
  }

  .img-planet-neptune {
    width: 285px;
  }

  .img-geology {
    width: 85px;
    position: absolute;
    top: 36rem;
  }

  menu {
    border: none;
    grid-area: menu;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  menu button {
    width: 20.81rem;
    display: flex;
    border: var(--border);
  }

  .menu-btn-nmbr {
    display: inline;
    margin-inline: 1rem;
  }

  .menu-mercury,
  .menu-venu,
  .menu-earth,
  .menu-mars,
  .menu-jupiter,
  .menu-saturn,
  .menu-uranus,
  .menu-neptune {
    text-decoration: none;
  }

  .menu-mercury {
    background-color: var(--mercury-btn);
  }

  .menu-venus {
    background-color: var(--venus-btn);
  }

  .menu-earth {
    background-color: var(--earth-btn);
  }

  .menu-mars {
    background-color: var(--mars-btn);
  }

  .menu-jupiter {
    background-color: var(--jupiter-btn);
  }

  .menu-saturn {
    background-color: var(--saturn-btn);
  }

  .menu-uranus {
    background-color: var(--uranus-btn);
  }

  .menu-neptune {
    background-color: var(--neptune-btn);
  }

  .planet-section {
    grid-area: planet;
  }

  .info-section {
    text-align: left;
    grid-area: info;
    min-width: 33.9rem;
    max-width: 50rem;
  }

  .stats-section {
    margin-top: 2rem;
    grid-area: stats;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: flex-start;
  }

  .stat-box {
    min-width: 23%;
    padding: 1.5rem;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
  }
}