@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap");

/* Variables */
:root {
  /* Colors */
  --midnight-blue: #070724;
  --dark-gray: #38384f;
  --light-gray: #838391;
  --mercury-btn: #419ebb;
  --venus-btn: #eda249;
  --earth-btn: #6f2ed6;
  --mars-btn: #d14c32;
  --jupiter-btn: #d83a34;
  --saturn-btn: #cd5120;
  --uranus-btn: #1ec2a4;
  --neptune-btn: #2d68f0;
  --mercury-bullet: #def4fc;
  --venus-bullet: #f7cc7f;
  --earth-bullet: #545bfe;
  --mars-bullet: #ff6a45;
  --jupiter-bullet: #ecad7a;
  --saturn-bullet: #fccb6b;
  --uranus-bullet: #65f0d5;
  --neptune-bullet: #497efa;

  /* Other variables */
  --border: var(--light-gray) 0.5px solid;
}

* {
  box-sizing: border-box;
  margin: 0;
}
.bullet-mercury {
  background-color: var(--mercury-bullet);
}
.bullet-venus {
  background-color: var(--venus-bullet);
}
.bullet-earth {
  background-color: var(--earth-bullet);
}
.bullet-mars {
  background-color: var(--mars-bullet);
}
.bullet-jupiter {
  background-color: var(--jupiter-bullet);
}
.bullet-saturn {
  background-color: var(--saturn-bullet);
}
.bullet-uranus {
  background-color: var(--uranus-bullet);
}
.bullet-neptune {
  background-color: var(--neptune-bullet);
}

/* Mobile styles */

body {
  font-family: "League Spartan", Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 11px;
  line-height: 25px;
  text-align: center;
  background-color: var(--midnight-blue);
  background-image: url("../public/assets/background-stars.svg");
}
.container {
  margin: auto;
}
button {
  background-color: transparent;
  border: none;
}
h1,
h2 {
  font-family: "Antonio", "Courier New", Courier, monospace;
  font-weight: 500;
  text-transform: uppercase;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 20px;
  letter-spacing: -1.5px;
}

h3,
h4 {
  font-weight: 700;
}
h3 {
  letter-spacing: 2.6px;
}
h4 {
  letter-spacing: 1px;
  font-size: 8px;
  color: var(--light-gray);
}

header h2 {
  border-bottom: var(--border);
  padding: 0.75em;
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}
header h2 button {
  background-color: transparent;
  padding: 8px 0 0 0;
}
header h2 button:hover {
  cursor: pointer;
}
nav {
  display: none;
  position: absolute;
  min-width: 100%;
  border-bottom: var(--border);
  background-color: var(--midnight-blue);
  z-index: 1;
}
nav ul {
  list-style: none;
  padding: 0;
  padding: 1.5em;
}
nav ul li {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.36px;
  padding: 1em 0;
  border-bottom: var(--border);
  display: flex;
  gap: 1.5em;
  align-items: center;
}
nav ul li :last-child {
  margin-left: auto;
}
nav ul li:last-child {
  border-bottom: none;
}
nav ul li:hover {
  cursor: pointer;
}
nav ul li:hover span {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.25em;
}
nav ul li:hover :last-child {
  opacity: 1;
}
.bullet {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: inline-block;
}

menu {
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border);
}
menu button {
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 1.93px;
  color: var(--light-gray);
  padding: 1em 0;
}
.menu-btn-nmbr {
  display: none;
}
.topic-btn:hover {
  cursor: pointer;
  color: white;
}

.menu-mercury,
.menu-venu,
.menu-earth,
.menu-mars,
.menu-jupiter,
.menu-saturn,
.menu-uranus,
.menu-neptune {
  cursor: default;
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 0.65em;
}

.menu-mercury {
  text-decoration-color: var(--mercury-btn);
}
.menu-venus {
  text-decoration-color: var(--venus-btn);
}
.menu-earth {
  text-decoration-color: var(--earth-btn);
}
.menu-mars {
  text-decoration-color: var(--mars-btn);
}
.menu-jupiter {
  text-decoration-color: var(--jupiter-btn);
}
.menu-saturn {
  text-decoration-color: var(--saturn-btn);
}
.menu-uranus {
  text-decoration-color: var(--uranus-btn);
}
.menu-neptune {
  text-decoration-color: var(--neptune-btn);
}
.img-planet-container {
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.img-planet {
  transform: scale(35%);
}
.img-geology {
  transform: scale(20%);
  position: absolute;
  top: 9em;
}
.info-text {
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
cite {
  font-size: 12px;
  font-style: normal;
  color: var(--light-gray);
}
cite a {
  color: var(--light-gray);
  font-weight: bold;
}
cite:hover a {
  color: white;
}
cite:hover .source-icon {
  opacity: 1;
}
cite a:last-child :first-child {
  vertical-align: sub;
}

.stats-section {
  margin: 2.5em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.stat-box {
  padding: 1em;
  border: var(--border);
  display: flex;
  justify-content: space-between;
}

/* Tablet styles */

@media (min-width: 700px) {
  header h2 {
    display: block;
    border: none;
  }
  nav {
    display: block;
    position: relative;
    z-index: 0;
    border: none;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
  }
  nav ul li {
    border: none;
  }
  .mobile-menu-btn {
    display: none;
  }
  .bullet {
    display: none;
  }
  .chevron-icon {
    display: none;
  }

  .info-section {
    display: grid;
    grid:
      [row1-start] "planet planet" 1fr [row1-end]
      [row2-start] "text menu" 1fr [row2-end];
    justify-content: space-between;
  }
  .img-planet-container {
    grid-area: planet;
  }
  .img-planet {
    transform: scale(50%);
  }
  .img-geology {
    transform: scale(25%);
    position: absolute;
    top: 17em;
  }
  .info-text {
    grid-area: text;
    text-align: left;
    margin: auto;
  }
  menu {
    grid-area: menu;
    border: none;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    min-width: 281px;
  }
  menu button {
    border: var(--border);
    height: 40px;
    text-align: left;
    color: white;
  }
  .menu-btn-nmbr {
    display: inline;
    margin: 0 1em;
    opacity: 0.5;
  }
  .menu-mercury,
  .menu-venu,
  .menu-earth,
  .menu-mars,
  .menu-jupiter,
  .menu-saturn,
  .menu-uranus,
  .menu-neptune {
    text-decoration: none;
    border: none;
  }
  .menu-mercury {
    background-color: var(--mercury-btn);
  }
  .menu-venus {
    background-color: var(--venus-btn);
  }
  .menu-earth {
    background-color: var(--earth-btn);
  }
  .menu-mars {
    background-color: var(--mars-btn);
  }
  .menu-jupiter {
    background-color: var(--jupiter-btn);
  }
  .menu-saturn {
    background-color: var(--saturn-btn);
  }
  .menu-uranus {
    background-color: var(--uranus-btn);
  }
  .menu-neptune {
    background-color: var(--neptune-btn);
  }
  .stats-section {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr 1fr; 
    gap: 1em;
  }
  .stat-box {
    flex-direction: column;
    justify-content: space-evenly;
    height: 88px;
    text-align: left;
    padding: 1em;
  }
}
