@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap');

/* Variables */
:root {
/* Colors */
--midnight-blue: #070724;
--dark-gray: #38384F;
--light-gray: #838391;
--mercury-btn: #419EBB;
--venus-btn: #EDA249;
--earth-btn: #6f2ed6;
--mars-btn: #D14C32;
--jupiter-btn: #D83A34;
--saturn-btn: #CD5120;
--uranus-btn: #1ec2a4;
--neptune-btn: #2d68f0;
--mercury-bullet: #DEF4FC;
--venus-bullet: #F7CC7F;
--earth-bullet: #545BFE;
--mars-bullet: #FF6A45;
--jupiter-bullet: #ECAD7A;
--saturn-bullet: #FCCB6B;
--uranus-bullet: #65F0D5;
--neptune-bullet: #497EFA;
}

* {
  box-sizing: border-box;
  margin: 0
}
.bullet-mercury {
  background-color: var(--mercury-bullet);
}
.bullet-venus {
  background-color: var(--venus-bullet);
}
.bullet-earth {
  background-color: var(--earth-bullet);
}
.bullet-mars {
  background-color: var(--mars-bullet);
}
.bullet-jupiter {
  background-color: var(--jupiter-bullet);
}
.bullet-saturn {
  background-color: var(--saturn-bullet);
}
.bullet-uranus {
  background-color: var(--uranus-bullet);
}
.bullet-neptune {
  background-color: var(--neptune-bullet);
}

body {
  font-family: 'League Spartan', Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 11px;
  text-align: center;
  background-color: var(--midnight-blue);
  background-image: url("../public/assets/background-stars.svg");
}
.container {
  max-width: 375px;
  margin: auto;
}

h1,
h2 {
  font-family: 'Antonio','Courier New', Courier, monospace;
  font-weight: 500;
  text-transform: uppercase;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 20px;
  letter-spacing: -1.5px;
}

h3,
h4 {
  font-weight: 700;
}
h3 {
  letter-spacing: 2.6px;
}
h4 {
  letter-spacing: 1px;
  font-size: 8px;
  color: var(--light-gray)
}

header h2 {
  border-bottom: var(--light-gray) 1px solid;
  padding: .5em;
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}
header h2 button {
  background-color: transparent;
  padding-top: 8px;
}
header h2 button:hover {
  cursor: pointer;
}
nav {
  display: none;
  position: absolute;
  z-index: 1;
  width: 375px;
}
ul {
  list-style: none;
  padding: 0;
  background-color: var(--midnight-blue);
  padding: 1.5em;
}
ul li {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.36px;
  padding: 1em 0;
  border-bottom: var(--dark-gray) 1px solid;
  display: flex;
  gap: 1.5em;
  align-items: center;
}
ul li:last-child {
  border-bottom: none;
}
ul li:hover {
  cursor: pointer;
  opacity: 75%;
}
ul li img {
  height: 8px;
  margin-left: auto;
}

cite {
  font-size: 12px;
  font-style: normal;
  color: var(--light-gray)
}
cite a {
  color: var(--light-gray)
}
cite img {
  vertical-align: sub;
}
.bullet {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: inline-block;
}


/* Planet sizes vary. figure out size percentage for each screen version */
.img-planet {
  width: 29.5%;
}
.info-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.info-text cite {
  margin: 1em 0;
}